{% extends 'CRTravelBundle:layout:layout.html.twig' %}

{% block title %}
Partner create
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2">
            <a href="{{ path('partner_index') }}" class="btn btn-warning btn-circle"><i class="fa fa-arrow-left"></i></a>
        </div>
        <div class="col-10">
            <h1>Create partner</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_start(form) }}
            {# form_widget(form) #}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.address) }}
            {{ form_row(form.pictureAddressFile) }}
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
            {{ form_row(form.horary) }}
            {{ form_row(form.comment) }}
            {{ form_row(form.isSpecialOffer) }}
            {{ form_row(form.offer) }}
            {{ form_row(form.location) }}
            {{ form_row(form.tripAdvisorLink) }}
            {{ form_row(form.type) }}
            {{ form_row(form.country) }}

            <div class="hot-words" data-prototype="{{ form_widget(form.hotWords.vars.prototype)|e('html_attr') }}">
                <h3>Hot Words</h3>
            </div>

            <div class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
                <h3>Pictures</h3>

            </div>

            <input type="submit" value="Create" class="btn btn-success"/>
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest':false}) }}
        </div>
    </div>

{% endblock %}
